{
    "version": "@VERSION@",
    "description": "Agent identity management CLI for DNSid",
    "homepage": "https://dnsid.ai",
    "license": "Unknown",
    "architecture": {
        "64bit": {
            "url": "@ARTIFACT_BASE@/@VERSION@/dnsid_windows_amd64.zip",
            "hash": "@SHA_WINDOWS_AMD64@"
        }
    },
    "bin": "dnsid.exe"
}
